<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dong.beautifulgirl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".application.BeautifulApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_beautifulgirl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_beautifulgirl_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".modular.splashmodular.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modular.mainmodular.mainmodular.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modular.guidemodular.GuideActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modular.logicandsignmodular.LogicAndSignActivity" />
        <activity
            android:name=".modular.logicandsignmodular.logicmodular.LogicActivity" />
    </application>

</manifest>